* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#calc {
    height: 513px;
    width: 337px;
    text-align: center;
    background-color: rgb(83, 9, 152);
    border-radius: 15px 15px 0 0;
    color: white;
}

#res {
    height: 50px;
    width: 337px;
    text-align: center;
    line-height: 50px;
}

table {
    height: 463px;
    width: 337px;
    background-color: black;
}

td {
    height: 50px;
    width: 50px;
    background-color: rgb(46, 5, 84);
    color: white;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 470px) {
    body {
        height: 100vh;
        width: 100vw;
        display: flex;  
        overflow: hidden;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #calc {
        background-color: skyblue;
        border: 2px solid black;
        height: 98%;
        width: 97%;
    }

    table {
        height: 87%;
        width: 95%;
        background-color: skyblue;
        margin: auto;
    }

    td {
        background-color: black;
    }

    #res {  
        display: flex;
        width: 93%;      
        height: 80px;
        margin: auto;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: skyblue;
        color: black;
    }
}